# .clang-format style file for use in the EB tresos AdaptiveCore project.
# Usage: Put into directory or parent directory of source file, run
#     clang-format -style=file <source file>
# Copyright (C) 2017 Elektrobit Automotive GmbH. All rights reserved.
 
Language:        Cpp

###
# Indentation
###
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentWidth:     4
IndentWrappedFunctionNames: false
NamespaceIndentation: None
TabWidth:        4
UseTab:          Never

###
# Alignment
###
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands:   true
AlignTrailingComments: true

###
# Line breaks
###
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
#ExperimentalAutoDetectBinPacking: false
BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true 
BreakStringLiterals: true
ColumnLimit: 100 # EB Guidelines for programming in C++, Rule 106
CommentPragmas:  '$'
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
ReflowComments:  true

###
# Braces style
###
# Ignored, since we don't use BreakBeforeBraces: Custom.
# Left in here for exposition only.
BraceWrapping:   
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Stroustrup
Cpp11BracedListStyle: true

###
# Horizontal spacing
###
DerivePointerAlignment: false
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH ]
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard:        Cpp11

###
# Vertical spacing
###
KeepEmptyLinesAtTheStartOfBlocks: true
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 2

###
# Include files
###
# Include categories tailored to EB Adaptive Core; used if SortIncludes is true.
# See also https://google.github.io/styleguide/cppguide.html#Names_and_Order_of_Includes
IncludeCategories: 
  - Regex:           '^"(ara|ac).*/'
    Priority:        6
  - Regex:           '^(<|")(gtest|gmock)/'
    Priority:        1
  - Regex:           '^(<|")boost/'
    Priority:        4
  - Regex:           '^(<[_/a-z0-9]+\.h>)'
    Priority:        2
  - Regex:           '^(<[_a-z]+>)'
    Priority:        3
  - Regex:           '.*'
    Priority:        5
IncludeIsMainRegex: '(_test)?'
SortIncludes:    true

###
# Miscellaneous
###
DisableFormat:   false
FixNamespaceComments: true
